* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 15px 25px 25px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #333;
    margin-bottom: 20px;
    font-weight: 900;
    text-align: center;
}

.input {
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 15px;
}

.refresh {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: #826afb;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.refresh:active {
    transform: translateY(-50%)scale(0.98);
}


.input input,
.button button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
}

.input input {
    padding: 15px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.captch_box input {
    color: #6b6b6b;
    font-size: 22px;
    pointer-events: none;
}

.captcha input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.message {
    font-size: 14px;
    margin: 14px 0;
    color: #826afb;
}

.message .active {
    display: block;
}

.button button {
    background: #826afb;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.button button:active {
    transform: scale(0.99);
}

.button.disabled {
    opacity: 0.6;
    pointer-events: none;
}